* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f5f2 url("../images/Home.jpg") no-repeat center/cover fixed;
  color: #333;
  padding-top: 55px;
}

body::before {
  content: "";
  position: fixed;
  top: -2%;
  left: -2%;
  width: 105%;
  height: 105%;
  background: inherit;
  filter: blur(5px) brightness(60%);
  z-index: -1;
}

/* Header styles */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Center navigation */
.center-nav {
  display: flex;
  list-style: none;
}

.center-nav li {
  margin: 0 15px;
}

.center-nav li a {
  text-decoration: none;
  color: darkred;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.center-nav li a:hover {
  color: red;
}

/* Right navigation */
.right-nav {
  display: flex;
  list-style: none;
}

.right-nav li {
  margin-left: 15px;
}

.right-nav li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.right-nav .signup {
  background: darkred;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 600;
}

.right-nav .signup:hover {
  background: darkred;
}

.main,
.recipe-page {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

/* Heading and paragraph styles */
.main h1,
.recipe-page h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.main p,
.recipe-page p {
  font-size: 30px;
  margin-bottom: 20px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: absolute;
  filter: none;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: auto;
}

.searchForm input {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  width: 275px;
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  transition: border-bottom 0.1s ease;
  margin-bottom: 20px;
  flex-direction: column;
}
.searchForm input:hover {
  border-bottom: 3px solid white;
}
.searchForm h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: #ececec;
  margin-bottom: 15px;
}
.searchForm input::placeholder {
  color: #cccccc;
  opacity: 0.7;
}
.searchForm button {
  padding: 8px;
  width: 40%;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.1s ease, background-color 0.1s ease;
}
.searchForm button:hover {
  transform: scale(1.1) translateY(-5px);
  background-color: black;
  color: white;
}
.FromDirection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Only apply these styles to search.html */
.search-page .cards {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style: none;
  margin: 50px auto 0;
  padding: 0;
  max-width: 1200px;
}

.search-page .cards_item {
  display: flex;
  padding: 2rem;
  justify-content: center;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.search-page .card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(
        #0000 0 calc(1.2rem - 1px),
        #66afe1 0 1.2rem
      )
      right bottom / 100% 100%,
    linear-gradient(red 0 0) 30px 0 / 2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0 / 100%
    2.4rem;
  -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0 /
    100% 2.4rem;
  max-width: 300px;
}

.search-page .card_image {
  height: calc(13 * 1.2rem);
  padding: 1.2rem 1.2rem 0;
  position: relative;
}

.search-page .card_image:before,
.search-page .card_image:after {
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}

.search-page .card_image:after {
  transform: rotate(-45deg);
  top: auto;
  bottom: -22px;
  left: 40%;
}

.search-page .card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-page .card_content {
  padding: 1.2rem;
}

.search-page h2.card_title,
.search-page p {
  margin: 1.2rem 0;
}

.search-page h2.card_title {
  font-size: 1.3em;
}

.searchForm,
.favoritesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: absolute;
  filter: none;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: auto;
}
.searchForm input {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  width: 275px;
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  transition: border-bottom 0.1s ease;
  margin-bottom: 20px;
  flex-direction: column;
}
.searchForm input:hover {
  border-bottom: 3px solid white;
}
.searchForm h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: #ececec;
  margin-bottom: 15px;
}
.searchForm input::placeholder {
  color: #cccccc;
  opacity: 0.7;
}
.searchForm button {
  padding: 8px;
  width: 40%;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.1s ease, background-color 0.1s ease;
}
.searchForm button:hover {
  transform: scale(1.1) translateY(-5px);
  background-color: black;
  color: white;
}
.FromDirection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Generalize styles for cards */
.cards {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style: none;
  margin: 50px auto 0;
  padding: 0;
  max-width: 1200px;
}

.cards_item {
  display: flex;
  padding: 2rem;
  justify-content: center;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}
.hidden {
  display: none !important;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(
        #0000 0 calc(1.2rem - 1px),
        #66afe1 0 1.2rem
      )
      right bottom / 100% 100%,
    linear-gradient(red 0 0) 30px 0 / 2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0 / 100%
    2.4rem;
  -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0 /
    100% 2.4rem;
  max-width: 300px;
  padding-bottom: 20px;
}

.card_image {
  height: calc(13 * 1.2rem);
  padding: 1.2rem 1.2rem 0;
  position: relative;
}

.card_image:before,
.card_image:after {
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}

.card_image:after {
  transform: rotate(-45deg);
  top: auto;
  bottom: -22px;
  left: 40%;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

h2.card_title,
p {
  margin: 1.2rem 0;
}

h2.card_title {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.about {
  position: relative;
  min-height: 100vh;
  padding: 25px 40px;
  color: white;
  z-index: 1;
  text-align: center;
}

.about h1 {
  font-size: 52px;
  margin-bottom: 40px;
  font-weight: bold;
}

.about p {
  font-size: 22px;
  line-height: 1.8;
  margin: 0 auto 25px;
  max-width: 800px;
}

.about ul {
  font-size: 20px;
  line-height: 1.8;
  margin: 0 auto 30px;
  padding-left: 200px;
  list-style: disc;
  max-width: 800px;
  text-align: left;
}

.about ul li {
  margin-bottom: 15px;
}

.recipe-button {
  margin: 0.5rem auto auto auto;
  justify-content: center;
  align-items: center;
  border: 2px solid darkred;
  border-radius: 25px;
  padding: 10px 15px;

  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  background-color: darkred;
  font-weight: 700;
  transition: transform 0.1s ease-in-out;
}

.recipe-button:hover {
  transform: scale(1.2);
}

.recipe-page {
  height: 100vh;
}

.recipe_image {
  width: calc(15 * 2rem);
  padding: 2.5rem 2.5rem 0;
  position: relative;
}

.recipe_image img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
