{% extends "base.html" %}
{% block title %}About | Plateful{% endblock %}
{% block content %}
<section class="about">
    <h1>About Us</h1>
    <p>Welcome to our website , we are thrilled to have you here! </p>
    <p>We believe that cooking should be simple, fun, and flavorful.</p>
    <p>Whether you’re a seasoned home chef or just learning how to boil an egg, our goal is to inspire you with recipes that are easy to follow, beautifully presented, and full of heart.</p>
    <p>Here you will find : </p>
    <ul>
        <li> Step-by-step guides and cooking techniques </li>
        <li> A collection of desserts, snacks, and healthy bites</li>
    </ul>
    <p>Whether you’re cooking for yourself or for your loved ones we’re thrilled to be a part of your culinary journey</p>
    <p>Thanks for stopping by!</p>
</section>
{% endblock %}
