{% extends "base.html" %}
{% block title %}Search | Plateful{% endblock %}
{% block content %}
{% load static %}


<div class="searchForm">
  <h1 style="padding-top: 0px; margin-top: 5rem;">Search for a recipe</h1>
  <form action="{% url 'search' %}" id="searchForm" class="FromDirection" method="get">
    <input type="text" name="query" id="inputSearch" placeholder="Enter recipe name..."
      value="{{ query|default:'' }}" />
    <button type="submit" style="border-radius: 30px; padding-block: 10px; padding-inline: 30px;">Search</button>
  </form>
  <ul class="cards" id="search-results">
    {% if recipes %}
    {% for recipe in recipes %}
    <li class="cards_item" style="animation: fadeIn 0.5s ease forwards {{ forloop.counter0|add:"0" }}00ms; opacity:0;">
      <div class="card">
        <div class="card_content">
          <h2 class="card_title">{{ recipe.title }}</h2>
          <p class="recipe-category">{{ recipe.course }}</p>
          <div class="recipe-details">
            <p><strong>Ingredients:</strong>
              {% for ingredient in recipe.ingredients %}
                <span class="ingredient">{{ ingredient }}</span>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
            <p class="recipe-description"><strong>Description:</strong> {{ recipe.description }}</p>
          </div>
          <a href="/recipe/{{ recipe.id }}/" class="view-recipe-btn">View Recipe</a>
        </div>
      </div>
    </li>
    {% endfor %}
    {% else %}
    <li>
      <div class="no-results">
        <p>No recipes found.</p>
        <p class="suggestion">Try searching with different keywords.</p>
      </div>
    </li>
    {% endif %}
  </ul>

</div>

{% endblock %}