{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/forgot_password.css' %}">
{% endblock %}

{% block content %}
<section class="forgot-section">
    <h2>Forgot Password</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="auth-btn">Next</button>
    </form>
    <p><a href="{% url 'login' %}" class="back-btn">Back to Login</a></p>
</section>
{% endblock %}
