# Ignore Python virtual environments
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
*.sqlite3

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment files
pip-selfcheck.json

# Ignore local environment variables
.env
