<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Plateful{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />
  <link rel="icon" href="{% static 'images/platful_iconn.png' %}" type="image/png" />
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% include "includes/header.html" %}

  <div class="main-content-wrapper"> {# Added this wrapper for sticky footer #}
    {% block content %}
    {% endblock %}
  </div> {# End of main-content-wrapper #}

  {% include "includes/footer.html" %}
  <script src="{% static 'JS/favorites.js' %}" defer></script> {# Moved JS script here #}
</body>
</html>
